<h1>Friends Table</h1>

<div id="friends">
<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Twitter Handle</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @friends.each do |friend|%>
    <%if friend.user == current_user%>
    <tr>
    <td><%= friend.first_name %></td>
    <td><%= friend.last_name %></td>
    <td><%= friend.email %></td>
    <td><%= friend.phone %></td>
    <td><%= friend.twitter %></td>
    <td><%= link_to "Display", friend %></td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
    </table>
</div>

<%= link_to "New friend", new_friend_path, class:'btn btn-secondary' %>

